main ul {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M2.13 11.73a2.13 2.13 0 1 0 0 4.25 2.13 2.13 0 1 0 0-4.25zM0 5.43V8.5c2 0 3.88.78 5.29 2.2a7.45 7.45 0 0 1 2.2 5.3h3.07C10.56 10.18 5.82 5.44 0 5.44zM0 0v3.07c7.13 0 12.92 5.8 12.92 12.93H16C16 7.18 8.82 0 0 0z'/%3E%3C/svg%3E");
	list-style-type: "";
}
main li:has(> a)::before {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	margin: .3125rem 0 0 -1.75rem;
	background-color: currentColor;
	-webkit-mask: var(--icon) center / contain no-repeat;
	mask: var(--icon) center / contain no-repeat;
	forced-color-adjust: none;
}
main h2 + ul > li {
	margin-left: 7rem;
}
main h2 + ul > li:is(:nth-child(1), :nth-child(13)) {
	margin-left: 1.75rem;
}
main h2 + ul > li:is(:nth-child(2), :nth-child(3), :nth-child(12)) {
	margin-left: 3.5rem;
}
main h2 + ul > li:is(:nth-child(4), :nth-child(9)) {
	margin-left: 5.25rem;
}
main ul ul li {
	margin-top: .75rem;
}
