main h2 + ul li {
	list-style-type: disc;
}
main h2 + ul > li {
	margin-inline-start: calc(4 * var(--p));
}
main h2 + ul summary,
main h2 + ul > li:is(:nth-child(1), :nth-child(13)) {
	margin-inline-start: var(--p);
}
main h2 + ul > li:is(:nth-child(2), :nth-child(3), :nth-child(12)) {
	margin-inline-start: calc(2 * var(--p));
}
main h2 + ul > li:is(:nth-child(4), :nth-child(9)) {
	margin-inline-start: calc(3 * var(--p));
}
main h2 + ul > li:has(details) {
	list-style-type: "";
}
main h2 + ul summary {
	list-style-position: outside;
}
#all-warning {
	font-style: italic;
}
