table {
	width: 100%;
	margin: 3rem 0;
	border-collapse: collapse;
}
table * {
	overflow-wrap: normal;
}
thead th {
	height: 5rem;
	padding-top: 0;
	border-bottom-style: double;
	border-bottom-width: .1875rem;
	font-size: .875rem;
	line-height: calc(16 / 14);
	vertical-align: bottom;
}
th i {
	padding: 0;
}
th i span {
	position: absolute;
	transform: rotate(-45deg) translate(-1.25rem, -2rem);
	transform-origin: 0 0;
}
th i::before {
	display: inline-block;
	position: static;
	width: .875rem;
	height: .875rem;
	margin: 0;
}
th:nth-child(8) ~ th i::before {
	visibility: hidden;
}
th:nth-child(8) ~ th i span {
	transform: rotate(-45deg) translate(-2.125rem, -1.625rem);
}
th,
td {
	width: 7.5%;
	padding: .25rem 0;
	border: 0 solid var(--color-bg-subtle);
	text-align: right;
	vertical-align: middle;
}
@media (min-width: 33em) and (max-width: 39em), (min-width: 48em) {
	th,
	td {
		width: 9%; /*4rem;*/
		padding-right: .875rem;
	}
}
@media (max-width: 22.49em) {
	th,
	td {
		font-size: .875rem;
	}
}
th:first-child {
	width: auto;
	padding-left: var(--padding-horizontal);
	text-align: left;
	white-space: nowrap;
}
tr > *:nth-child(8) {
	width: calc(var(--_pbs) - 8rem + .875rem - var(--padding-horizontal));
	padding-right: .875rem;
}
tr > *:nth-child(9) {
	width: 4rem;
	padding-right: .875rem;
}
tr > *:last-child {
	width: calc(4rem - .875rem + var(--padding-horizontal));
	padding-right: var(--padding-horizontal);
}
tbody tr:hover,
tbody tr:focus-within {
	background-color: var(--color-bg-subtle);
}
tr + tr > * {
	border-top-width: .0625rem;
}
tfoot tr > * {
	border-top-width: .125rem;
	padding-bottom: 0;
}
td:nth-child(8),
tfoot {
	font-weight: 700;
}
table data {
	font-variant-numeric: lining-nums tabular-nums;
}
tbody data[value="0"] {
	color: var(--color-bg-subtle);
}
