table {
	margin: 3rem 0;
}
thead th {
	height: 5rem;
	padding-top: 0;
	border-bottom-style: double;
	border-bottom-width: .1875rem;
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Noto Sans", "DejaVu Sans", sans-serif;
	font-size: .875rem;
	line-height: calc(16 / 14);
	vertical-align: bottom;
}
th i {
	padding: 0;
}
th i span {
	position: absolute;
	transform: rotate(-45deg) translate(-1.25rem, -2rem);
	transform-origin: 0 0;
}
th:last-child i span {
	transform: rotate(-45deg) translate(-2rem, -2.5rem);
}
th i::before {
	display: inline-block;
	position: static;
	width: .875rem;
	height: .875rem;
	margin: 0;
}
th:last-child i::before {
	visibility: hidden;
}
tbody tr:hover,
tbody tr:focus-within {
	background-color: var(--color-bg-subtle);
}
th,
td {
	width: 9%;
	padding: .25rem 0 .25rem .875rem;
	border: 0 solid var(--color-bg-subtle);
	vertical-align: middle;
}
tr + tr > * {
	border-top-width: .0625rem;
}
tfoot tr > * {
	border-top-width: .125rem;
	padding-bottom: 0;
}
th:first-child {
	padding-left: var(--padding-horizontal);
	white-space: nowrap;
}
tr > *:nth-child(7) {
	width: calc(2 * var(--padding-horizontal) + .25rem + var(--width-sidebar) / 2);
	padding-right: var(--padding-horizontal);
}
tr > *:last-child {
	display: table-cell;
	width: calc(var(--width-sidebar) / 2);
	padding-right: var(--padding-horizontal);
}
table data {
	font-variant-numeric: lining-nums tabular-nums;
}
tbody data[value="0"] {
	color: var(--color-bg-subtle);
}
