@keyframes fade {
	0%, 23%, 77%, 100% {
		opacity: 1;
	}
	27%, 73% {
		opacity: 0;
	}
}
@media (prefers-reduced-motion: reduce) {
	.image-compare:focus span {
		width: calc(var(--expand) + 100%);
		animation-name: fade;
	}
	.image-compare:focus span::after {
		display: none;
	}
}
