html {
	font: 100%/1.25 "Palatino Linotype", "Palatino", "Palladio", "URW Palladio L", "Book Antiqua", "Baskerville", "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", "Garamond", "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", "Georgia", serif;
}
body {
	padding: 1em 1em 1px;
}
main {
	display: block;
	max-width: 35.125rem;
	margin-right: 0;
}
a {
	color: #d34b6c !important;
	text-decoration: underline !important;
}
.hero time::before,
.hero time::after {
	content: " • ";
}
.card a::before {
	display: none;
}
aside.screen,
nav.screen,
footer .screen {
	display: block !important;
}
nav {
	margin-top: 7.5em;
	font-family: sans-serif;
	font-size: 10pt;
	line-height: 1.25rem;
}
nav ul {
	list-style: none;
	padding: 0;
}
nav li {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 0;
}
.branding {
	display: none;
}
.imprint {
	border-top: 1px solid #000;
}
.copyright {
	display: block;
}
.imprint p:last-child > span {
	display: inline-block;
	width: 1em;
}
@media (min-width: 37.5em) {
	body {
		padding: 1em 2em 1px;
	}
	.imprint {
		display: grid;
		grid-template-areas: "site www" "site page";
		grid-template-rows: 1fr min-content;
	}
	.imprint div {
		grid-area: site;
	}
	.external {
		grid-area: www;
	}
	.internal {
		grid-area: page;
	}
	.imprint section {
		text-align: right;
	}
}
@media (min-width: 60em) {
	main {
		margin: 0 auto;
	}
}
.visually-hidden {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0,0,0,0);
	border: 0;
	white-space: nowrap;
}
