.standoff ol {
	--m: 0;
	counter-reset: part;
	list-style-type: disc;
	margin: .75rlh 0;
	padding: 0;
	background-color: transparent;
}
.standoff li {
	margin-inline-start: .875rem;

	&:first-child {
		--m: 0;
	}
}
.standoff li::before {
	counter-increment: part;
	content: "Part " counter(part) ": ";
	font-size: .9375rem;
	font-weight: 700;
	letter-spacing: .0625rem;
	text-transform: uppercase;
}
