.standoff a[tabindex] {
	display: grid;
	grid-template: "▶️";
	place-items: center;
}
.standoff a[tabindex]::before {
	content: "";
	grid-area: ▶️;
	z-index: 1;
	width: 5rem;
	height: 5rem;
	border: .25rem solid #fbfdffbb;
	border-radius: 50%;
}
.standoff a[tabindex]::after {
	content: "";
	grid-area: ▶️;
	box-sizing: content-box;
	z-index: 1;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-color: #fbfdffbb;
	border-width: 1.25rem 2rem;
	margin-right: -2.5rem;
}
.standoff a[tabindex] img {
	grid-area: ▶️;
}
