extends section.pug

append intro
	.intro
		.nice

			style.page(media="screen", aria-hidden="true")
				include ../public/css/home.css
			section
				h3#cssence-the-person The Person
				p My name is Matthias, I’m also known as @CSSence. I’m a web developer, passionate about design, semantics and accessibility. And obviously CSS. I work in Vienna, Austria.
				p
					a.avatar.screen(rel="me", href="/about/matt") About Matthias Zöchling.
			section
				h3#cssence-the-website The Website
				p This site started as a weblog on Wordpress. As time went by, I&nbsp;got my own domain and turned it into a full-fledged IndieWeb hub, where all my content resides for longevity.
				p
					a.screen(href="/about") About CSSence.com.
