figure dl {
	--m: 0;
}
figure div {
	display: grid;
	grid-template-columns: 8ch 6ch 1fr;
	gap: 0 1rem;
	align-items: center;
}
figure div::after {
	content: "";
	inline-size: var(--value);
	block-size: .75rem;
	border-radius: .25rem;
	background: var(--color-accent);
}
figure dd {
	margin: 0;
	font-variant-numeric: lining-nums tabular-nums;
	text-align: end;
}
