.token.comment {
	color: var(--color-accent-note);
}
.token.prolog,
.token.doctype,
.token.cdata,
.token.namespace,
.token.punctuation {
	color: #aaa;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: var(--color-accent-default);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: var(--color-accent-other);
}
.token.operator,
.token.entity,
.token.url,
.token.variable,
.language-css .token.string {
	color: var(--color-accent-event);
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.function {
	color: var(--color-accent-essay);
}
.token.deleted,
.token.inserted,
.token.template-punctuation,
.token.interpolation-punctuation,
.token.regex,
.token.important {
	color: var(--color-accent-code);
}
.token.bold {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
