aside.conversation
	h2.subtle#comments Comments
		if conversation
			= ` (${conversation.length})`
	if conversation
		include conversation-thread
	else
		p No comments have been added so far.
	include conversation-join
