footer.imprint
	div
		h2.visually-hidden Additional information
		p
			span
				= `© ${website.years.from}-${new Date().getFullYear()} `
				a(href="/about/matt/") Matthias Zöchling.
			span
				= 'Available under the '
				a(rel="license", href="https://creativecommons.org/licenses/by/4.0/", title="Creative Commons Attribution 4.0 International License") CC&nbsp;BY
				= ' license. '
			span
				a(href="/about/privacy/") Legalese
				= ' '
				a(href="/help/", accesskey="h") Help
				= ' '
				a(href="/settings/", accesskey="s") Settings
					span(aria-hidden="true", data-hl="Settings")
		section
			h3.visually-hidden#elsewhere CSSence elsewhere on the web
			p
				a(href="https://github.com/cssence") GitHub
				= ' '
				a(href="https://codepen.io/cssence") CodePen
				= ' '
				a(href="https://twitter.com/cssence") Twitter
		section
			h3.visually-hidden#bottom= layout === 'index.pug' ? 'Thanks for visiting' : 'Thanks for reading'
			p
				if layout !== 'index.pug' && urlPath.startsWith('/2')
					a(href="#contribute") Contribute
					= ' '
				a(href="#navigation", accesskey="n") Browse
					span(aria-hidden="true", data-hl="Menu")
				= ' '
				a(href="#top") Back to top
