footer.imprint
	h2.visually-hidden#bottom Additional information
	p.copyright
		span © #{settings.years.from}-#{new Date().getFullYear()}
			= " "
			a(href="/about/matt") Matthias Zöchling
			= "."
		br.screen
		= "Available under the "
		a(rel="license", href="https://creativecommons.org/licenses/by/4.0/", title="Creative Commons Attribution 4.0 International License") CC&nbsp;BY
		= " license."
	p.legal.screen
		a(href="/about/privacy") Privacy Policy
		= " "
		a(href="/about/privacy") Legal / Ownership
	p.external.screen
		strong.visually-hidden= "CSSence elsewhere on the web: "
		a(href="https://github.com/cssence") GitHub
		= " "
		a(href="https://codepen.io/cssence") CodePen
		= " "
		a(href="https://twitter.com/cssence") Twitter
