header.hero
	!= titleMarkdown
	- const banner = {forHero: true, urlPath: urlPath, layout: layout, group: group, published: published, revised: revised}
	include banner
	p.thumbnail.blend
		img(src=thumbnail.url, alt="", aria-hidden="true")
