form {
	position: relative;
}
form .standoff {
	display: block;
	top: -.0625rem;
	bottom: -.0625rem;
	margin-right: calc(-1 * var(--_pbs));
	padding: .9375rem calc(var(--padding-horizontal) - .0625rem);
	border: .0625rem dashed transparent;
}
form p:where(:not(.info)) {
	display: grid;
	gap: .5rem 1rem;
	margin-bottom: 1.5rem;
}
form .info {
	min-height: 3lh;
}
form h3 {
	display: grid;
	grid-template-columns: var(--padding-horizontal) max-content 1fr;
	align-items: center;
	gap: 1ex;
	margin-top: 0;
}
form h3::before,
form h3::after {
	content: "";
	border-top: .0625rem dotted;
}
form p:where(.submit) {
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}
@media (max-width: 55.49em) {
	form p:where(.submit) {
		margin-bottom: 3rem;
	}
}
@media (min-width: 55.5em) {
	form > p {
		grid-template-columns: 2fr 1fr 1fr;
	}
	form .submit::before {
		content: "";
	}
	select {
		grid-column: 2 / -1;
	}
}
.preview {
	overflow: hidden;
	aspect-ratio: 1;
	background-color: var(--color-bg);
	border: .0625rem solid;
	border-radius: .25rem;
}
.preview svg {
	width: 100%;
	height: 100%;
}
[data-style="advanced"][data-highlighter="none"] {
	.token {
		fill: var(--color-light);
	}
}
[data-style="basic"][data-highlighter="none"] {
	svg {
		--color-dark: initial;
		--color-light: initial;
	}
	.token {
		fill: CanvasText;
	}
}
[data-style="basic"][data-highlighter="auto"] {
	svg {
		--color-accent-default: initial;
		--color-accent-other: initial;
	}
}
[data-scheme="dark"] {
	svg {
		color-scheme: only dark;
		--color-bg: #080809;
		--color-text: var(--color-light);
		--color-dark: #1b1c1e;
		--color-light: #d9d9d9;
		--color-accent: #aa425c;
	}
}
[data-scheme="light"] {
	svg {
		color-scheme: only light;
		--color-bg: #fff;
		--color-text: #313437;
		--color-dark: #202225;
		--color-light: #fff;
		--color-accent: #d34b6c;
	}
}
[data-highlighter="auto"] {
	.token.punctuation {fill:#aaa}
	.token.selector {fill:var(--color-accent-other, #bada55)}
	.token.property {fill:var(--color-accent-default, #d34b6c)}
}
[data-highlighter="a11y-dark"] {
	svg {
		--prism-a11y-color-background: hsla(0, 0%, 17%, 1);
		--prism-a11y-color-text-no-token: hsla(60, 30%, 96%, 1);
		--prism-a11y-color-text-green: hsla(80, 75%, 55%, 1);
		--prism-a11y-color-text-gray: hsla(60, 30%, 96%, 1);
		--prism-a11y-color-text-red: hsla(17, 100%, 74%, 1);
	}
}
[data-highlighter="a11y-light"] {
	svg {
		--prism-a11y-color-background: hsla(0, 0%, 100%, 1);
		--prism-a11y-color-text-no-token: hsla(0, 0%, 33%, 1);
		--prism-a11y-color-text-green: hsla(120, 100%, 25%, 1);
		--prism-a11y-color-text-gray: hsla(0, 0%, 41%, 1);
		--prism-a11y-color-text-red: hsla(2, 80%, 47%, 1);
	}
}
[data-highlighter^="a11y-"] {
	svg {
		--color-dark: var(--prism-a11y-color-background);
		--color-light: var(--prism-a11y-color-text-no-token);
	}
	.token.punctuation {fill:var(--prism-a11y-color-text-gray)}
	.token.selector {fill:var(--prism-a11y-color-text-green)}
	.token.property {fill:var(--prism-a11y-color-text-red)}
}
[data-style="elegant"] {
	&[data-scheme="auto"] {
		svg {
			--color-text: #000;
			--color-bg: #fff;

			@media (prefers-color-scheme: dark) {
				--color-text: #fff;
				--color-bg: #080809;
				}
		}
	}
	&[data-scheme="dark"] {
		svg {
			--color-text: #fff;
			--color-bg: #080809;
		}
	}
	&[data-scheme="light"] {
		svg {
			--color-text: #000;
			--color-bg: #fff;
		}
	}
}
