form {
	position: relative;
}
form .standoff {
	display: block;
	top: -.0625rem;
	bottom: -.0625rem;
	margin-right: calc(-1 * var(--_pbs));
	padding: .9375rem calc(var(--padding-horizontal) - .0625rem);
	border: .0625rem dashed transparent;
}
form p:where(:not(.info)) {
	display: grid;
	gap: .5rem 1rem;
	margin-bottom: 1.5rem;
}
form .info {
	min-height: 3lh;
}
form h3 {
	display: grid;
	grid-template-columns: var(--padding-horizontal) max-content 1fr;
	align-items: center;
	gap: 1ex;
	margin-top: 0;
}
form h3::before,
form h3::after {
	content: "";
	border-top: .0625rem dotted;
}
form p:where(.submit) {
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}
@media (max-width: 55.49em) {
	form p:where(.submit) {
		margin-bottom: 3rem;
	}
}
@media (min-width: 55.5em) {
	form > p {
		grid-template-columns: 2fr 1fr 1fr;
	}
	form .submit::before {
		content: "";
	}
	select {
		grid-column: 2 / -1;
	}
}
