* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--color-bg-subtle: #eaeaeb;
	--color-bg: #fff;
	--color-text: #313437;
	--color-dark: #202225;
	--color-light: #fff;
	--color-focus: #f4ff17;
	--color-accent-default: #d34b6c;
	--color-accent-note: #4099ff;
	--color-accent-code: #ff571a;
	--color-accent-event: #2ac7b7;
	--color-accent-essay: #ee82ee;
	--color-accent-other: #bada55;
	--padding-horizontal: 1.75rem;
	--o: var(--padding-horizontal);
	--height-header: 6.25rem;
	--width-sidebar: 12.5rem;
	--size-separator: .25rem;
	--_pbs: calc(2 * var(--padding-horizontal) + var(--size-separator) + var(--width-sidebar));
	color-scheme: light dark;
}
html {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	font-size: 100%;
	line-height: 1.625;
	-webkit-tap-highlight-color: rgba(204,85,85,.5);
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-subtle: var(--color-dark);
		--color-bg: #080809;
		--color-text: var(--color-light);
		--color-dark: #1b1c1e;
		--color-light: #d9d9d9;
		--color-focus: #ced726;
		--color-accent-default: #aa425c;
		--color-accent-note: #3c80cf;
		--color-accent-code: #cd4c1e;
		--color-accent-event: #2ea59a;
		--color-accent-essay: #c371c3;
		--color-accent-other: #9fb751;
	}
	img:not([src$=".svg"]) {
		filter: brightness(85%) grayscale(10%);
	}
	.invert img:not([src$=".svg"]) {
		filter: brightness(85%) grayscale(10%) invert(1);
	}
	[data-hl="Home"] path:first-child {
		fill: var(--color-text);
	}
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	position: relative;
	padding: var(--height-header) var(--padding-horizontal) 0;
}
li::marker {
	font: inherit;
}
img {
	display: block;
	max-width: 100%;
}
.cover img {
	width: 100%;
}
header p:last-child,
.posts li p:last-child,
img + small,
.subtle,
figure, .figure,
blockquote,
.posts h2,
#updates,
#fns,
#comments,
#comments ~ article h3,
#comments ~ p,
#comments ~ section,
[data-chain],
[data-unavailable],
#contribute,
.metadata,
.standoff,
footer {
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Noto Sans", "DejaVu Sans", sans-serif;
}
kbd,
code {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
small,
sup,
sub,
code,
tt,
blockquote footer,
figcaption,
a[href$=".pdf"]::after {
	font-size: .875em;
}
header p:last-child,
.posts li p:last-child,
#comments,
#comments ~ article h3,
[data-chain],
[data-unavailable],
.metadata,
.standoff,
img + small,
[data-hl],
.nav-else,
.content-info {
	font-size: .875rem;
	line-height: 1.5;
}
h1,
h2, .h2,
h3,
h1 + p:not(:last-child),
b,
strong,
#comments ~ article h3 b {
	font-weight: 700;
}
[data-unavailable],
blockquote,
em {
	font-style: italic;
}
[id] {
	scroll-margin-top: .75rem;
}
a {
	color: inherit;
	text-decoration-color: var(--color-accent);
	text-decoration-thickness: .125rem;
	text-underline-offset: .125rem;
	word-break: break-word;
}
a[href$=".pdf"]::after {
	content: " [PDF]";
}
a:hover {
	text-decoration-style: double;
	text-decoration-thickness: .0625rem;
}
summary:focus:not(:active),
a:focus:not(:active) {
	background: var(--color-focus) !important;
	box-shadow: 0 0 0 .1875rem var(--color-focus);
	color: var(--color-dark);
	text-shadow: none !important;
}
main a:focus::after {
	color: var(--color-text);
}
a:focus::after {
	color: var(--color-light);
}
summary:focus,
a:focus,
pre[tabindex]:focus {
	text-decoration: none;
	outline: .1875rem double;
	outline-offset: .0625rem;
}
pre[tabindex]:focus {
	outline-color: var(--color-dark);
}
summary {
	width: fit-content;
}
li:has(> details:only-child) {
	list-style-type: none;
}
li:has(> details:only-child) summary {
	list-style-position: outside;
}
abbr[title] {
	text-decoration: none;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}
sup,
sub {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
}
ins {
	text-decoration-style: dotted;
}
p > small:only-child {
	display: block;
}
h1,
h2, .h2,
h3 {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	line-height: 1.125;
}
h3 {
	font-size: 1.25rem;
}
h1,
h1 + p:not(:last-child) {
	margin-bottom: 0;
	word-break: break-word;
}
h1 {
	margin-top: 0;
	font-size: 2.5rem;
}
h1 + p:not(:last-child) {
	margin-top: .25rem;
	line-height: 1.375;
}
time {
	white-space: nowrap;
}
kbd {
	padding: 0 .25rem;
	border: .0625rem solid;
	border-bottom-width: .125rem;
	border-radius: .25rem;
}
hr {
	max-width: 50%;
	margin: 3rem auto;
	border: none;
	border-top: var(--size-separator) dotted var(--color-bg-subtle);
}
[role="list"] {
	list-style: none;
}
ol,
ul,
blockquote,
figure, .figure,
pre,
p {
	margin-bottom: 1.5rem;
}
dd,
li {
	margin-bottom: .75rem;
	margin-left: 1.75rem;
}
#showcase + p,
li ul,
li ol,
li li,
li p {
	margin-bottom: 0;
}
blockquote {
	padding-left: 1.375rem;
	border-left: .375rem solid var(--color-accent);
}
img + small {
	display: block;
}
.update,
:not(pre) > code {
	display: inline-block;
	padding: 0 .25rem;
	background-color: var(--color-bg-subtle);
}
:not(pre) > code {
	text-decoration: inherit;
	word-break: break-all;
}
:not(pre):focus > code {
	background-color: unset;
}
figcaption {
	margin-top: .5rem;
	line-height: 1.375;
}
figure, .figure {
	background-color: var(--color-bg-subtle);
}
figure code, .figure code {
	background-color: var(--color-bg);
}
figure, .figure,
pre {
	padding: .9375rem calc(var(--padding-horizontal) - .0625rem);
	border: .0625rem dashed transparent;
}
.codepen,
pre {
	padding-top: 1.4375rem;
	padding-bottom: 1.4375rem;
}
header,
.posts li,
.standout,
pre,
#comments ~ article,
footer.metadata {
	margin-right: calc(-1 * var(--_pbs));
}
pre {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--color-dark);
	color: var(--color-light);
	line-height: 1.5;
	-moz-tab-size: 4;
	tab-size: 4;
}
pre code {
	display: block;
}
#comments ~ article h3,
.standoff {
	--padding-horizontal: .875rem;
	position: absolute;
	right: 0;
	width: var(--width-sidebar);
	margin: 0;
}
main,
.imprint > div,
.nav-menu ul {
	max-width: calc(35.75rem + var(--_pbs));
	margin: 0 auto;
}
main {
	position: relative;
	min-height: calc(100vh - var(--height-header));
	padding: 2rem var(--_pbs) 3rem 0;
}
header {
	min-height: 7.5rem;
	margin-bottom: 3rem;
}
header img,
.posts li img,
.posts li::after {
	position: absolute;
	top: .1875rem;
	right: 0;
	width: var(--width-sidebar);
	background-color: var(--color-accent);
}
header i::after {
	content: "  —  ";
	white-space: pre;
}
header p:last-child {
	margin-top: 1.5rem;
	margin-bottom: 0;
}
.c-default,
.c-article {
	--color-accent: var(--color-accent-default);
}
.c-note {
	--color-accent: var(--color-accent-note);
}
.c-code {
	--color-accent: var(--color-accent-code);
}
.c-event {
	--color-accent: var(--color-accent-event);
}
.c-essay {
	--color-accent: var(--color-accent-essay);
}
.c-editorial,
.c-about {
	--color-accent: var(--color-accent-other);
}
.c-essay i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6 10l2-1 7-7-1-1-7 7-1 2zM4.52 13.548c-0.494-1.043-1.026-1.574-2.069-2.069l1.548-4.262 2-1.217 6-6h-3l-6 6-3 10 10-3 6-6v-3l-6 6-1.217 2z'%3E%3C/path%3E%3C/svg%3E");
}
.c-editorial i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 16C2 10 7.234 0 16 0c-4.109 3.297-6 11-9 11H4l-3 5H0z'/%3E%3C/svg%3E");
}
.c-event i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M15.494 14.482 14.4 11.2h-1.2l.666 3.2H2.133l.666-3.2h-1.2L.505 14.482C.227 15.317.719 16 1.599 16h12.8c.88 0 1.372-.683 1.094-1.518zM12 4a4 4 0 1 0-8 0c0 3.82 4 8 4 8s4-4.18 4-8zm-6.16.048c0-1.193.966-2.159 2.16-2.159a2.158 2.158 0 1 1 0 4.319 2.16 2.16 0 0 1-2.16-2.16z'/%3E%3C/svg%3E");
}
.c-code i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 11.5l1.5 1.5 5-5-5-5L9 4.5 12.5 8zM7 4.5L5.5 3l-5 5 5 5L7 11.5 3.5 8z'/%3E%3C/svg%3E");
}
.c-note i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 1c4.418 0 8 2.91 8 6.5S12.418 14 8 14c-.424 0-.841-.027-1.247-.079-1.718 1.718-3.77 2.027-5.753 2.072v-.421c1.071-.525 2-1.48 2-2.572a3.01 3.01 0 0 0-.034-.448C1.157 11.36 0 9.54 0 7.5 0 3.91 3.582 1 8 1z'/%3E%3C/svg%3E");
}
.standoff:first-child,
aside[aria-labelledby="comments"],
.metadata {
	margin-top: 2.9375rem;
	border-top: .0625rem solid;
}
.standoff:first-child {
	padding-top: .75rem;
	border-bottom: .0625rem solid;
}
.posts h2 {
	margin: 6rem 0 3rem;
}
:where(.figure, .standoff) h2 {
	margin-top: 0;
}
:where(.metadata, .standoff) :is(h2, p),
#showcase,
#comments,
#contribute {
	margin-bottom: .75rem;
}
.subtle,
.posts h2,
.metadata h2,
.standoff h2,
#showcase,
#updates,
#fns,
#comments,
#contribute {
	font-size: .875rem;
	letter-spacing: .0625rem;
	line-height: 1.5;
	text-transform: uppercase;
}
.posts :is(ol, ul) {
	margin-bottom: 3rem;
}
.posts li {
	display: flex;
	flex-direction: column;
	min-height: calc(var(--width-sidebar) / 4 * 3 + .1875rem);
}
.posts li::after {
	content: "";
	top: 0;
	border-top: .0625rem solid var(--color-accent);
}
.posts li + li {
	margin-top: 2.5rem;
}
.posts h3 {
	margin: .5rem 0;
	line-height: 1.5;
}
.posts h3 a::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: .1875rem;
	right: 0;
	bottom: 0;
	width: var(--width-sidebar);
}
.posts li p:last-child {
	order: -1;
	display: flex;
	justify-content: space-between;
	padding-top: .25rem;
	border-top: .0625rem solid var(--color-accent);
}
header,
.posts li,
#comments ~ article,
.codepen {
	position: relative;
	padding-right: var(--_pbs);
}
.codepen a::after {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background: var(--icon) 0 / 2rem repeat var(--color-bg-subtle);
	--mask: linear-gradient(90deg, #0000 0, #0000 50%, #0005);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
}
[data-follow-up] {
	position: relative;
	text-shadow: 0 -.0625rem .125rem var(--color-bg);
}
[data-follow-up]::after {
	content: " " attr(data-follow-up);
}
[data-follow-up]::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: -.6875rem 0 auto;
	height: 1.5rem;
	background-image: repeating-linear-gradient(120deg, var(--color-accent) 0, var(--color-accent) .5rem, transparent .5rem, transparent 1rem);
	--mask: linear-gradient(0, #0000, #000);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
	opacity: .3;
}
#comments ~ article {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
#comments ~ article:not([hidden]) ~ article::before {
	content: "";
	position: absolute;
	width: 1.75rem;
	margin-top: -1.5625rem;
	border-top: .1875rem double var(--color-bg-subtle);
}
#comments ~ article h3 {
	top: .1875rem;
	bottom: .1875rem;
	width: calc(var(--width-sidebar) + .4375rem);
	min-height: 1.25rem;
	padding: 0 0 0 .375rem;
	border-left: .0625rem solid;
	font-weight: inherit;
	line-height: calc(20 / 14);
}
#comments ~ article h3 :is(a, span) {
	display: block;
}
#comments ~ article h3 :is(b, time) {
	display: block;
	width: max-content;
	max-width: 100%;
}
#comments ~ article h3 span b::after {
	content: "";
	display: inline-block;
	position: relative;
	top: .214285714em;
	height: 1em;
	width: 1em;
	margin-left: .214285714em;
	background: url(/assets/favicon-32.png) center / cover no-repeat var(--color-dark);
	border-radius: 50%;
	filter: grayscale(1);
}
i::before,
[data-chain]::before,
[data-hl]:empty::after,
.imprint a[href="#top"]::after,
.nav-else a::after {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	margin: .25em 0 0 .5em;
	background-color: currentColor;
	-webkit-mask: var(--icon) center / contain no-repeat;
	mask: var(--icon) center / contain no-repeat;
}
[data-chain] {
	padding: .1875rem 0 0 1.25em;
	margin-bottom: 1.625rem;
}
[data-chain]::before {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M7 12.12V16l-6-6 6-6v3.97c6.98.16 6.68-4.75 4.9-7.97C16.3 4.74 15.36 12.34 7 12.12z'/%3E%3C/svg%3E");
	margin: .1875rem 0 0 -1.25em;
	transform: scale(1, 1);
}
[data-chain="continue"]::before {
	transform: scale(-1, 1);
}
i::before {
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 0 0 -1.75rem;
	color: var(--color-accent);
}
i {
	padding-left: 1.75rem;
}
.posts i {
	margin-left: -1.75rem;
}
.codepen a,
.imprint a[href*="codepen"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m14.777 5.751-7-4.667a.5.5 0 0 0-.555 0l-7 4.667a.501.501 0 0 0-.223.416v4.667c0 .167.084.323.223.416l7 4.667a.5.5 0 0 0 .554 0l7-4.667a.501.501 0 0 0 .223-.416V6.167a.501.501 0 0 0-.223-.416zM7.5 10.232 4.901 8.5 7.5 6.768 10.099 8.5 7.5 10.232zM8 5.899V2.434l5.599 3.732L11 7.898l-3-2zm-1 0-3 2-2.599-1.732L7 2.435V5.9zM3.099 8.5 1 9.899V7.101L3.099 8.5zM4 9.101l3 2v3.465l-5.599-3.732L4 9.102zm4 2 3-2 2.599 1.732L8 14.565V11.1zM11.901 8.5 14 7.101v2.798L11.901 8.5z'/%3E%3C/svg%3E");
}
.imprint a[href*="github"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 .198a8 8 0 00-2.529 15.591c.4.074.547-.174.547-.385 0-.191-.008-.821-.011-1.489-2.226.484-2.695-.944-2.695-.944-.364-.925-.888-1.171-.888-1.171-.726-.497.055-.486.055-.486.803.056 1.226.824 1.226.824.714 1.223 1.872.869 2.328.665.072-.517.279-.87.508-1.07-1.777-.202-3.645-.888-3.645-3.954 0-.873.313-1.587.824-2.147-.083-.202-.357-1.015.077-2.117 0 0 .672-.215 2.201.82A7.672 7.672 0 018 4.066c.68.003 1.365.092 2.004.269 1.527-1.035 2.198-.82 2.198-.82.435 1.102.162 1.916.079 2.117.513.56.823 1.274.823 2.147 0 3.073-1.872 3.749-3.653 3.947.287.248.543.735.543 1.481 0 1.07-.009 1.932-.009 2.195 0 .213.144.462.55.384A8 8 0 008.001.196z'/%3E%3C/svg%3E");
}
.imprint a[href*="mas.to"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M15.46 5.25c0-3.47-2.27-4.49-2.27-4.49C12.04.24 10.07.02 8.03 0h-.05C5.93.02 3.96.24 2.82.76c0 0-2.28 1.02-2.28 4.5C.54 6.04.53 7 .55 8c.08 3.4.62 6.74 3.76 7.57 1.45.38 2.7.46 3.7.4a7.3 7.3 0 0 0 2.83-.64l-.06-1.32s-1.3.4-2.76.36c-1.44-.05-2.96-.16-3.2-1.93a3.61 3.61 0 0 1-.03-.48v-.02s1.42.35 3.21.43c1.1.05 2.13-.06 3.17-.19 2.01-.23 3.75-1.47 3.97-2.6.35-1.77.32-4.34.32-4.34zm-2.68 4.47H11.1V5.65c0-.86-.36-1.3-1.08-1.3-.8 0-1.2.52-1.2 1.54v2.23H7.17V5.9c0-1.02-.4-1.54-1.2-1.54-.72 0-1.08.44-1.08 1.3v4.07H3.22v-4.2c0-.86.22-1.54.66-2.04.45-.5 1.05-.77 1.78-.77.85 0 1.5.33 1.93.98l.41.7.42-.7a2.15 2.15 0 0 1 1.92-.98c.74 0 1.33.26 1.78.77.44.5.66 1.18.66 2.04z'/%3E%3C/svg%3E");
}
[data-hl="Menu"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M7 2h9v2H0V2zm0 5h9v2H0V7zm0 5h9v2H0v-2zm0'/%3E%3C/svg%3E");
}
.imprint a[href="#top"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 8a8 8 0 1016 0A8 8 0 000 8zm14.5 0a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z'/%3E%3Cpath d='M11.043 10.457l1.414-1.414L8 4.586 3.543 9.043l1.414 1.414L8 7.414z'/%3E%3C/svg%3E");
}
.imprint p {
	margin: 0;
}
.nav-else p,
.content-info {
	display: flex;
	flex-direction: column;
	gap: .75rem;
}
.content-info p:last-child {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin: 0;
}
.imprint a[href="#top"],
.nav-else a {
	width: max-content;
	margin: 0 1.375rem 0 auto;
}
.imprint {
	margin: 0 calc(-1 * var(--padding-horizontal));
	padding: 3rem var(--padding-horizontal);
	background-color: var(--color-dark);
	color: var(--color-light);
}
.nav-menu {
	grid-column: 1 / -1;
	margin-bottom: 4rem;
}
.imprint > div,
.nav-menu ul {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: 1fr calc(var(--width-sidebar) - var(--reveal, 0rem));
	gap: .75rem calc(var(--_pbs) - var(--width-sidebar));
}
.content-info,
.nav-menu li {
	grid-column: 1;
	margin: 0;
}
.nav-else,
.nav-menu li:nth-child(4) ~ li {
	grid-column: 2;
}
.nav-menu a {
	display: block;
	padding: .4375rem 0 .5rem;
	letter-spacing: .0625rem;
	text-align: right;
	text-decoration-color: transparent;
	text-transform: uppercase;
	background: radial-gradient(at 55%, var(--color-accent), #313437 85%) 0 2.25rem no-repeat;
	border-top: .0625rem dotted transparent;
}
.nav-menu a[class] {
	background-image: linear-gradient(var(--color-accent), var(--color-accent));
}
.nav-menu a:hover {
	background-position: 0 2.125rem;
}
.nav-menu a [hidden]:not([class]) {
	display: block !important;
	float: left;
	margin-top: .25rem;
	font-size: .625rem;
	opacity: .75;
}
.c-article header img,
.posts li.c-article img,
.nav-menu a.c-article {
	background-image: linear-gradient(90deg, var(--color-accent-code) 15%, var(--color-focus), var(--color-accent-event), var(--color-accent-essay) 85%);
}
[data-hl]:empty::after {
	margin: .25em 0 0 .57143em;
}
[data-hl] {
	display: block;
	position: absolute;
	top: 1rem;
	right: calc(var(--o) + var(--_pbs) - var(--padding-horizontal) - var(--reveal, calc(5.5rem + var(--padding-horizontal))));
	margin-right: -.5rem;
	padding: .5625rem 1.875rem .6875rem .5rem;
	color: var(--color-text);
}
[data-hl]:hover {
	text-decoration: underline var(--color-accent) .125rem;
	text-underline-offset: .125rem;
}
[data-hl]::before {
	content: attr(data-hl);
}
[data-hl="Settings"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 7h.25c.412 0 .75-.338.75-.75v-2.5a.752.752 0 00-.75-.75H14V0h-2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.338.75.75.75H12v9h2V7zm-2-3h2v2h-2V4zm-2.75 9c.412 0 .75-.338.75-.75v-2.5A.753.753 0 009.25 9H9V0H7v9h-.25a.753.753 0 00-.75.75v2.5c0 .412.338.75.75.75H7v3h2v-3h.25zM7 10h2v2H7v-2zM4.25 7c.412 0 .75-.338.75-.75v-2.5A.752.752 0 004.25 3H4V0H2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.337.75.75.75H2v9h2V7h.25zM2 4h2v2H2V4z'/%3E%3C/svg%3E");
	right: var(--o);
}
[data-hl="Home"] {
	right: auto;
	left: var(--o);
	margin-right: 0;
	margin-left: -.5rem;
	padding-right: .5rem;
	padding-left: 3.375rem;
	text-transform: none;
}
[data-hl="Home"] svg {
	overflow: visible;
	position: absolute;
	top: 0;
	left: .4375rem;
	height: 2.5rem;
	width: 2.5rem;
	background-color: var(--color-dark);
	border-radius: 50%;
}
[data-hl="Home"]::before {
	content: "css";
	font-weight: 700;
}
[data-hl="Home"]::after {
	content: "ence.com";
}
[data-hl="Home"] path:last-child {
	fill: var(--color-accent);
}
footer.metadata p:last-child a {
	overflow: hidden;
	display: block;
	max-width: max-content;
	text-overflow: ellipsis;
	white-space: nowrap;
}
footer.metadata p:last-child::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: calc(var(--width-sidebar) + var(--padding-horizontal));
	bottom: 9rem;
	border-left: var(--size-separator) dotted var(--color-bg-subtle);
}
footer.metadata p:nth-child(5)::after {
	margin-bottom: 2.0625rem;
}
@media (max-width: 55.45em) {
	:root {
		--padding-horizontal: .875rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	.posts h3 {
		font-size: inherit;
	}
	pre {
		-moz-tab-size: 2;
		tab-size: 2;
	}
}
@media (max-width: 39em) {
	body {
		--reveal: calc(var(--padding-horizontal) + .75rem);
		width: calc(100% + var(--_pbs) - var(--padding-horizontal) - var(--reveal));
	}
	.standoff:not(figure):not(.figure) {
		padding-right: var(--padding-horizontal);
	}
	.standout.-left,
	figure, .figure,
	pre {
		margin-left: calc(-1 * var(--padding-horizontal));
	}
	figure.standout figcaption {
		max-width: calc(100% - var(--_pbs) + var(--padding-horizontal) + var(--reveal));
	}
	#comments ~ article h3 time {
		overflow: hidden;
	}
	main,
	[data-follow-up] {
		margin-right: calc(-1 * var(--padding-horizontal));
	}
	footer.metadata {
		margin-right: calc(-1 * var(--_pbs) + var(--padding-horizontal));
	}
	.imprint > div,
	.nav-menu ul {
		grid-template-columns: 1fr calc(var(--width-sidebar) - 2.25rem);
		gap: .75rem calc(2 * var(--padding-horizontal));
	}
}
@media (max-width: 22.45em) {
	.imprint a[href="#top"] {
		margin-right: 0;
	}
	.imprint a[href="#top"]::after {
		content: none;
	}
}
@media (max-width: 19.95em) {
	html {
		font-size: 5vw;
	}
}
@media (min-width: 75em) {
	html {
		font-size: 1.125rem;
	}
}
@media (min-width: 85em) {
	:root {
		--o: calc(50% - 33.25rem);
	}
}
@media (forced-colors: active) {
	hr,
	#comments ~ article:not([hidden]) ~ article::before,
	footer.metadata p:last-child::after {
		border-color: CanvasText;
		opacity: .3;
	}
	header img,
	.posts li img,
	i::before,
	[data-chain]::before,
	[data-hl]:empty::after,
	.imprint a[href="#top"]::after,
	.nav-else a::after,
	[data-hl="Home"] svg {
		forced-color-adjust: none;
	}
	i::before {
		color: inherit;
	}
}

main > div > header p:last-child > :is(i, time),
html:where(.c-default, .c-about) header p:last-child > :is(i, time),
.metadata address,
[aria-labelledby="updates"] > hr,
[aria-labelledby="fns"] > hr,
header br,
.posts li br {
	display: none;
}
.visually-hidden {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0,0,0,0);
	border: 0;
	white-space: nowrap;
}
