* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	overflow-wrap: anywhere;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--color-bg-subtle: #eaeaeb;
	--color-bg: #fff;
	--color-text: #313437;
	--color-dark: #202225;
	--color-light: #fff;
	--color-focus: #f4ff17;
	--color-accent-default: #d34b6c;
	--color-accent-note: #4099ff;
	--color-accent-link: #8c8cff;
	--color-accent-code: #ff571a;
	--color-accent-event: #2ac7b7;
	--color-accent-essay: #ee82ee;
	--color-accent-other: #bada55;
	--padding-horizontal: 1.75rem;
	--o: var(--padding-horizontal);
	--height-header: 6.25rem;
	--width-sidebar: 12.5rem;
	--size-separator: .25rem;
	--_pbs: calc(2 * var(--padding-horizontal) + var(--size-separator) + var(--width-sidebar));
	color-scheme: light dark;
	background-color: var(--color-bg);
	color: var(--color-text);
	font: 100%/1.625 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Noto Sans", "DejaVu Sans", sans-serif;
	-webkit-tap-highlight-color: rgba(204,85,85,.5);
}

@media (prefers-color-scheme: dark) {
	html:where(:has(meta[name="color-scheme"][content$="dark"])) {
		--color-bg-subtle: var(--color-dark);
		--color-bg: #080809;
		--color-text: var(--color-light);
		--color-dark: #1b1c1e;
		--color-light: #d9d9d9;
		--color-focus: #ced726;
		--color-accent-default: #aa425c;
		--color-accent-note: #3c80cf;
		--color-accent-code: #cd4c1e;
		--color-accent-event: #2ea59a;
		--color-accent-essay: #c371c3;
		--color-accent-other: #9fb751;

		img:not([src$=".svg"]) {
			filter: brightness(85%) grayscale(10%);
		}
		.invert img:not([src$=".svg"]) {
			filter: brightness(85%) grayscale(10%) invert(1);
		}
		[data-hl="Home"] path:first-child {
			fill: var(--color-text);
		}
	}
}
html:where(:has(meta[name="color-scheme"][content="dark"])) {
	--color-bg-subtle: var(--color-dark);
	--color-bg: #080809;
	--color-text: var(--color-light);
	--color-dark: #1b1c1e;
	--color-light: #d9d9d9;
	--color-focus: #ced726;
	--color-accent-default: #aa425c;
	--color-accent-note: #3c80cf;
	--color-accent-code: #cd4c1e;
	--color-accent-event: #2ea59a;
	--color-accent-essay: #c371c3;
	--color-accent-other: #9fb751;

	img:not([src$=".svg"]) {
		filter: brightness(85%) grayscale(10%);
	}
	.invert img:not([src$=".svg"]) {
		filter: brightness(85%) grayscale(10%) invert(1);
	}
	[data-hl="Home"] path:first-child {
		fill: var(--color-text);
	}
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	position: relative;
	padding: var(--height-header) var(--padding-horizontal) 0;
}
button,
input,
textarea,
select,
li::marker {
	font: inherit;
}
img {
	display: block;
	max-width: 100%;
}
.cover img {
	width: 100%;
}
kbd,
code {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
small,
sup,
sub,
code,
blockquote footer,
figcaption,
a[href$=".pdf"]::after {
	font-size: .875em;
}
header p:last-child,
.posts li p:last-child,
#comments,
#comments ~ article h3,
[data-unavailable],
.metadata,
.standoff,
img + small,
p > small:only-child,
[data-hl],
.imprint > p {
	font-size: .875rem;
	line-height: 1.5;
}
h1,
h2, .h2,
h3,
h1 + p:not(:last-child),
b,
strong {
	font-weight: 700;
}
[data-unavailable],
blockquote,
em {
	font-style: italic;
}
[id] {
	scroll-margin-top: .75rem;
}
a {
	color: inherit;
	text-decoration-color: var(--color-accent);
	text-decoration-thickness: .125rem;
	text-underline-offset: .125rem;
	word-break: break-word;
}
a[href$=".pdf"]::after {
	content: " [PDF]";
}
a:hover {
	text-decoration-style: double;
	text-decoration-thickness: .0625rem;
}
:is(a, button, select, summary):focus:not(:active) {
	background: var(--color-focus) !important;
	box-shadow: 0 0 0 .1875rem var(--color-focus);
	color: var(--color-dark);
	text-shadow: none !important;
}
li:has(> details:only-child) summary:focus::marker,
main a:focus::after {
	color: var(--color-text);
}
a:focus::after {
	color: var(--color-light);
}
:is(a, button, select, summary):focus,
pre[tabindex]:focus {
	text-decoration: none;
	outline: .1875rem double;
	outline-offset: .0625rem;
}
:is(button, select):focus {
	outline: .0625rem solid;
}
pre[tabindex]:focus {
	outline-color: var(--color-dark);
}
summary {
	width: fit-content;
}
li:has(> details:only-child) {
	list-style-type: "";
}
li:has(> details:only-child) summary {
	list-style-position: outside;
}
abbr[title] {
	text-decoration: none;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}
sup,
sub {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
}
ins {
	text-decoration-style: dotted;
}
img + small,
p > small:only-child {
	display: block;
}
h1,
h2, .h2,
h3 {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	line-height: 1.125;
}
h3 {
	font-size: 1.25rem;
}
h1,
h1 + p:not(:last-child) {
	margin-bottom: 0;
	word-break: break-word;
}
h1 {
	margin-top: 0;
	font-size: 2.5rem;
}
h1 + p:not(:last-child) {
	margin-top: .25rem;
	line-height: 1.375;
}
time {
	white-space: nowrap;
}
kbd {
	padding: 0 .25rem;
	border: .0625rem solid;
	border-bottom-width: .125rem;
	border-radius: .25rem;
}
hr {
	max-width: 50%;
	margin: 3rem auto;
	border: none;
	border-top: var(--size-separator) dotted var(--color-bg-subtle);
}
.posts :is(ol, ul) {
	list-style-type: "";
}
:disabled {
	cursor: not-allowed;
}
button,
select {
	padding: .25rem .5rem;
	background-color: var(--color-bg);
	border: .0625rem solid;
	border-radius: .25rem;
	color: var(--color-text);
}
button {
	border-width: .125rem;
}
form label:has(+ :disabled),
form :disabled {
	color: currentColor;
	opacity: .5;
}
form,
ol,
ul,
blockquote,
figure, .figure,
pre,
:not(li) > details,
p {
	margin-bottom: 1.5rem;
}
dd,
li {
	margin-bottom: .75rem;
	margin-left: 1.75rem;
}
#showcase + p,
li ul,
li ol,
li li,
li p {
	margin-bottom: 0;
}
blockquote {
	padding-left: 1.375rem;
	border-left: .375rem solid var(--color-accent);
}
.update,
:not(pre) > code {
	display: inline-block;
	padding: 0 .25rem;
	background-color: var(--color-bg-subtle);
}
:not(pre) > code {
	text-decoration: inherit;
	word-break: break-all;
}
:not(pre):focus > code {
	background-color: unset;
}
figcaption {
	margin-top: .5rem;
	line-height: 1.375;
}
form,
figure, .figure {
	background-color: var(--color-bg-subtle);
}
figure code, .figure code {
	background-color: var(--color-bg);
}
form,
figure, .figure,
pre {
	padding: .9375rem calc(var(--padding-horizontal) - .0625rem);
	border: .0625rem dashed transparent;
}
.codepen,
pre {
	padding-top: 1.4375rem;
	padding-bottom: 1.4375rem;
}
header,
.posts li,
.standout,
div > pre,
#comments ~ article,
footer.metadata {
	margin-right: calc(-1 * var(--_pbs));
}
pre {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--color-dark);
	color: var(--color-light);
	line-height: 1.5;
	-moz-tab-size: 4;
	tab-size: 4;
}
pre code {
	display: block;
}
[data-chain],
.standoff {
	position: absolute;
	right: 0;
	width: var(--width-sidebar);
	margin: 0;
}
main,
.nav-menu,
.imprint > p {
	max-width: calc(35.75rem + var(--_pbs));
	margin: 0 auto;
}
main {
	position: relative;
	min-height: calc(100vh - var(--height-header));
	padding: 2rem var(--_pbs) 3rem 0;
}
header {
	min-height: 7.5rem;
	margin-bottom: 3rem;
}
header img,
.posts li img,
.posts li::after {
	position: absolute;
	top: .1875rem;
	right: 0;
	width: var(--width-sidebar);
	height: auto;
	background-color: var(--color-accent);
}
header i::after {
	content: "  —  ";
	white-space: pre;
}
header p:last-child {
	margin-top: 1.5rem;
	margin-bottom: 0;
}
.c-default, .c-article, .c-thread {
	--color-accent: var(--color-accent-default);
}
.c-note {
	--color-accent: var(--color-accent-note);
}
.c-link {
	--color-accent: var(--color-accent-link);
}
.c-extra {
	--color-accent: var(--color-accent-code);
}
.c-event {
	--color-accent: var(--color-accent-event);
}
.c-essay {
	--color-accent: var(--color-accent-essay);
}
.c-editorial, .c-about {
	--color-accent: var(--color-accent-other);
}
.c-default i, .c-about i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 14.8c-3 0-5.4-3-5.4-6 0-3.1 1.8-7.7 5.4-7.7 3.7 0 5.5 4.6 5.5 7.8 0 3-2.4 5.9-5.5 5.9zM7 4.5c.2-.2.2-.5 0-.7a.5.5 0 0 0-.6 0 6 6 0 0 0-1.5 2.4c-.4.9-.5 1.9-.5 2.7a.5.5 0 0 0 .9 0c0-.7.1-1.6.4-2.4a5 5 0 0 1 1.3-2z'%3E%3C/path%3E%3C/svg%3E");
}
.c-essay i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6 10l2-1 7-7-1-1-7 7-1 2zM4.52 13.548c-0.494-1.043-1.026-1.574-2.069-2.069l1.548-4.262 2-1.217 6-6h-3l-6 6-3 10 10-3 6-6v-3l-6 6-1.217 2z'%3E%3C/path%3E%3C/svg%3E");
}
.c-editorial i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 16C2 10 7.234 0 16 0c-4.109 3.297-6 11-9 11H4l-3 5H0z'/%3E%3C/svg%3E");
}
.c-event i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M15.494 14.482 14.4 11.2h-1.2l.666 3.2H2.133l.666-3.2h-1.2L.505 14.482C.227 15.317.719 16 1.599 16h12.8c.88 0 1.372-.683 1.094-1.518zM12 4a4 4 0 1 0-8 0c0 3.82 4 8 4 8s4-4.18 4-8zm-6.16.048c0-1.193.966-2.159 2.16-2.159a2.158 2.158 0 1 1 0 4.319 2.16 2.16 0 0 1-2.16-2.16z'/%3E%3C/svg%3E");
}
.c-extra i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 11.5l1.5 1.5 5-5-5-5L9 4.5 12.5 8zM7 4.5L5.5 3l-5 5 5 5L7 11.5 3.5 8z'/%3E%3C/svg%3E");
}
.c-note i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 1c4.418 0 8 2.91 8 6.5S12.418 14 8 14c-.424 0-.841-.027-1.247-.079-1.718 1.718-3.77 2.027-5.753 2.072v-.421c1.071-.525 2-1.48 2-2.572a3.01 3.01 0 0 0-.034-.448C1.157 11.36 0 9.54 0 7.5 0 3.91 3.582 1 8 1z'/%3E%3C/svg%3E");
}
.c-link i {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M6.88 9.93a.81.81 0 0 1-.58-.23 3.82 3.82 0 0 1 0-5.4l3-3a3.79 3.79 0 0 1 5.4 0 3.82 3.82 0 0 1 0 5.4l-1.38 1.37a.81.81 0 0 1-1.14-1.15l1.37-1.37a2.19 2.19 0 0 0-3.1-3.1l-3 3a2.19 2.19 0 0 0 0 3.1.81.81 0 0 1-.57 1.38z'/%3E%3Cpath d='M4 15.81a3.82 3.82 0 0 1-2.7-6.5l1.37-1.38a.81.81 0 0 1 1.15 1.15l-1.37 1.37a2.19 2.19 0 0 0 3.1 3.1l3-3c.85-.86.85-2.24 0-3.1A.81.81 0 0 1 9.7 6.3a3.82 3.82 0 0 1 0 5.4l-3 3A3.79 3.79 0 0 1 4 15.8z'/%3E%3C/svg%3E");
}
.standoff {
	--padding-horizontal: .875rem;
	margin-top: var(--offset, 0);
}
.standoff:first-child,
aside[aria-labelledby="comments"],
.metadata {
	margin-top: 2.9375rem;
	border-top: .0625rem solid;
}
.standoff:first-child {
	padding-top: .75rem;
	border-bottom: .0625rem solid;
}
.posts h2 {
	margin: 6rem 0 3rem;
}
:where(.figure, .standoff) h2 {
	margin-top: 0;
}
:where(.metadata, .standoff) :is(h2, p),
#showcase,
#comments,
#contribute {
	margin-bottom: .75rem;
}
.subtle,
.posts h2,
.metadata h2,
.standoff h2,
#showcase,
#updates,
#fns,
#comments,
#contribute {
	font-size: .875rem;
	letter-spacing: .0625rem;
	line-height: 1.5;
	text-transform: uppercase;
}
#comments ~ article:not([hidden]) ~ article,
#contribute {
	margin-top: 4.5rem;
}
.posts :is(ol, ul) {
	margin-bottom: 3rem;
}
.posts li {
	display: flex;
	flex-direction: column;
	min-height: calc(var(--width-sidebar) / 4 * 3 + .1875rem);
}
.posts li::after {
	content: "";
	top: 0;
	border-top: .0625rem solid var(--color-accent);
}
.posts li + li {
	margin-top: 2.5rem;
}
.posts h3 {
	margin: .5rem 0;
	line-height: 1.5;
}
.posts h3 a::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: .1875rem;
	right: 0;
	bottom: 0;
	width: var(--width-sidebar);
}
.posts li p:last-child {
	order: -1;
	display: flex;
	justify-content: space-between;
	padding-top: .25rem;
	border-top: .0625rem solid var(--color-accent);
}
header,
.posts li,
#comments ~ article,
.codepen {
	position: relative;
	padding-right: var(--_pbs);
}
.codepen a::after {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background: var(--icon) 0 / 2rem repeat var(--color-bg-subtle);
	--mask: linear-gradient(90deg, #0000 0, #0000 50%, #0005);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
}
[data-follow-up] {
	position: relative;
	text-shadow: 0 -.0625rem .125rem var(--color-bg);
}
[data-follow-up]::after {
	content: " " attr(data-follow-up);
}
[data-follow-up]::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: -.6875rem 0 auto;
	height: 1.5rem;
	background-image: repeating-linear-gradient(120deg, var(--color-accent) 0, var(--color-accent) .5rem, transparent .5rem, transparent 1rem);
	--mask: linear-gradient(0, #0000, #000);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
	opacity: .3;
}
#comments ~ article {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
[data-chain] {
	top: 0;
}
p[data-chain] > small {
	display: flex;
	flex-wrap: wrap;
	white-space: pre-wrap;
}
[data-chain] span {
	max-width: calc(100% - 1ex);
	overflow: hidden;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}
i::before,
[data-chain]::before,
[data-hl]:empty::after,
.imprint > p > a::after {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	margin: .25em 0 0 .5em;
	background-color: currentColor;
	-webkit-mask: var(--icon) center / contain no-repeat;
	mask: var(--icon) center / contain no-repeat;
}
[data-chain]::before {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M7 12.12V16l-6-6 6-6v3.97c6.98.16 6.68-4.75 4.9-7.97C16.3 4.74 15.36 12.34 7 12.12z'/%3E%3C/svg%3E");
	margin: .125rem 0 0 calc(-.5em - var(--size-separator) / 2 - var(--padding-horizontal));
	transform: scale(1, 1);
}
[data-chain="continue"]::before {
	transform: scale(-1, 1);
}
i::before {
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 0 0 -1.75rem;
	color: var(--color-accent);
}
i {
	padding-left: 1.75rem;
}
.posts i {
	margin-left: -1.75rem;
}
.codepen a {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m14.777 5.751-7-4.667a.5.5 0 0 0-.555 0l-7 4.667a.501.501 0 0 0-.223.416v4.667c0 .167.084.323.223.416l7 4.667a.5.5 0 0 0 .554 0l7-4.667a.501.501 0 0 0 .223-.416V6.167a.501.501 0 0 0-.223-.416zM7.5 10.232 4.901 8.5 7.5 6.768 10.099 8.5 7.5 10.232zM8 5.899V2.434l5.599 3.732L11 7.898l-3-2zm-1 0-3 2-2.599-1.732L7 2.435V5.9zM3.099 8.5 1 9.899V7.101L3.099 8.5zM4 9.101l3 2v3.465l-5.599-3.732L4 9.102zm4 2 3-2 2.599 1.732L8 14.565V11.1zM11.901 8.5 14 7.101v2.798L11.901 8.5z'/%3E%3C/svg%3E");
}
[data-hl="Menu"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M7 2h9v2H0V2zm0 5h9v2H0V7zm0 5h9v2H0v-2zm0'/%3E%3C/svg%3E");
}
.imprint a[href="/rss/"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M2.13 11.73a2.13 2.13 0 1 0 0 4.25 2.13 2.13 0 1 0 0-4.25zM0 5.43V8.5c2 0 3.88.78 5.29 2.2a7.45 7.45 0 0 1 2.2 5.3h3.07C10.56 10.18 5.82 5.44 0 5.44zM0 0v3.07c7.13 0 12.92 5.8 12.92 12.93H16C16 7.18 8.82 0 0 0z'/%3E%3C/svg%3E");
}
.imprint a[href="#top"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 8a8 8 0 1016 0A8 8 0 000 8zm14.5 0a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z'/%3E%3Cpath d='M11.043 10.457l1.414-1.414L8 4.586 3.543 9.043l1.414 1.414L8 7.414z'/%3E%3C/svg%3E");
}
.imprint :is(p, details) {
	margin-bottom: 0;
}
.imprint p {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: 1fr 1fr calc(var(--width-sidebar) - var(--reveal, 0rem));
	gap: .75rem calc(var(--_pbs) - var(--width-sidebar));
}
.imprint > p > span:nth-child(2) {
	display: flex;
	gap: 1rem;
}
.imprint > p > a {
	justify-self: end;
}
.imprint > p > a {
	margin-right: 1.375rem;
}
.imprint {
	margin: 0 calc(-1 * var(--padding-horizontal));
	padding: 3rem var(--padding-horizontal);
	background-color: var(--color-dark);
	color: var(--color-light);
}
.nav-menu {
	--size-nav-item: 2.5rem;
	--size-nav-stripe: 5px;
	display: grid;
	grid-template-areas: 'nav';
	margin-bottom: 4rem;
}
.nav-menu :is(p, details) {
	grid-area: nav;
}
.nav-menu p {
	grid-template-rows: repeat(4, var(--size-nav-item));
}
.nav-menu details {
	position: relative;
	pointer-events: none;
}
.nav-menu details :is(a, summary) {
	pointer-events: auto;
}
.nav-menu details p {
	position: absolute;
	inset: 0;
}
.nav-menu details p::before,
.nav-menu details p::after {
	content: '';
	order: -1;
}
.nav-menu summary {
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(var(--width-sidebar) - var(--reveal, 0rem));
	height: var(--size-nav-item);
}
.nav-menu summary::marker {
	content: none;
}
.imprint > p > span,
.nav-menu > p a {
	grid-column: 1 / 3;
}
.nav-menu:has(details[open]) > p a:first-child,
.nav-menu details a {
	grid-column: 1;
}
.nav-menu:has(details[open]) > p a:nth-child(4),
.nav-menu details a:nth-child(even) {
	grid-column: 2;
}
.imprint > p > a,
.nav-menu > p a:nth-child(4) ~ a,
.nav-menu details a:nth-child(6) ~ a {
	grid-column: 3;
}
.nav-menu details[open] summary span:last-child,
.nav-menu:has(details[open]) > p a:nth-child(2),
.nav-menu:has(details[open]) > p a:nth-child(3),
.nav-menu:has(details[open]) > p a:nth-child(4) ~ a {
		display: none;
}
.nav-menu details[open] summary::after {
	content: 'Less';
}
.nav-menu :is(a, summary) {
	padding-top: .4375rem;
	letter-spacing: .0625rem;
	text-align: right;
	text-decoration-color: transparent;
	text-transform: uppercase;
	background: radial-gradient(at 55%, var(--color-accent), #313437 85%) 0 calc(var(--size-nav-item) - var(--size-nav-stripe) - var(--size-nav-stripe-increase, 0rem)) no-repeat var(--color-dark);
	border-top: .0625rem dotted transparent;
}
.nav-menu a[class] {
	background-image: linear-gradient(var(--color-accent), var(--color-accent));
}
.nav-menu :is(a, summary):hover {
	--size-nav-stripe-increase: 2px;
}
.nav-menu :is(a, summary) [hidden]:not([class]) {
	display: block !important;
	float: left;
	margin-top: .1875rem;
	font-size: .625rem;
	opacity: .75;
}
.c-article header img,
.posts li.c-article img,
.nav-menu a.c-article {
	background-image: linear-gradient(90deg, var(--color-accent-code) 10%, var(--color-focus), var(--color-accent-event), var(--color-accent-essay) 90%);
}
.c-thread header img,
.posts li.c-thread img,
.nav-menu a.c-thread {
	background-image: linear-gradient(90deg, var(--color-accent-note) 15%, var(--color-accent-link) 85%);
}
[data-hl]:empty::after {
	margin: .25em 0 0 .57143em;
}
[data-hl] {
	display: block;
	position: absolute;
	top: 1rem;
	right: calc(var(--o) + var(--_pbs) - var(--padding-horizontal) - var(--reveal, calc(5.5rem + var(--padding-horizontal))));
	margin-right: -.5rem;
	padding: .5625rem 1.875rem .6875rem .5rem;
	color: var(--color-text);
}
[data-hl]:hover {
	text-decoration: underline var(--color-accent) .125rem;
	text-underline-offset: .125rem;
}
[data-hl]::before {
	content: attr(data-hl);
}
[data-hl="Settings"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 7h.25c.412 0 .75-.338.75-.75v-2.5a.752.752 0 00-.75-.75H14V0h-2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.338.75.75.75H12v9h2V7zm-2-3h2v2h-2V4zm-2.75 9c.412 0 .75-.338.75-.75v-2.5A.753.753 0 009.25 9H9V0H7v9h-.25a.753.753 0 00-.75.75v2.5c0 .412.338.75.75.75H7v3h2v-3h.25zM7 10h2v2H7v-2zM4.25 7c.412 0 .75-.338.75-.75v-2.5A.752.752 0 004.25 3H4V0H2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.337.75.75.75H2v9h2V7h.25zM2 4h2v2H2V4z'/%3E%3C/svg%3E");
	right: var(--o);
}
[data-hl="Home"] {
	right: auto;
	left: var(--o);
	margin-right: 0;
	margin-left: -.5rem;
	padding-right: .5rem;
	padding-left: 3.375rem;
	text-transform: none;
}
[data-hl="Home"] svg {
	overflow: visible;
	position: absolute;
	top: 0;
	left: .4375rem;
	height: 2.5rem;
	width: 2.5rem;
	background-color: var(--color-dark);
	border-radius: 50%;
}
[data-hl="Home"]::before {
	content: "css";
	font-weight: 700;
}
[data-hl="Home"]::after {
	content: "ence.com";
}
[data-hl="Home"] path:last-child {
	fill: var(--color-accent);
}
footer.metadata p:last-child a {
	overflow: hidden;
	display: block;
	max-width: max-content;
	text-overflow: ellipsis;
	white-space: nowrap;
}
footer.metadata p:last-child::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: calc(var(--width-sidebar) + var(--padding-horizontal));
	bottom: 9rem;
	border-left: var(--size-separator) dotted var(--color-bg-subtle);
}
footer.metadata p:nth-child(5)::after {
	margin-bottom: 2.0625rem;
}
@media (max-width: 55.49em) {
	html {
		--padding-horizontal: .875rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	.posts h3 {
		font-size: inherit;
	}
	pre {
		-moz-tab-size: 2;
		tab-size: 2;
	}
	.nav-menu summary {
		width: calc((100% - 6rem) / 3);
	}
	.nav-menu p {
		grid-template-columns: 1fr 1fr 1fr;
		gap: .75rem 3rem;
	}
}
@media (max-width: 39em) {
	body {
		--reveal: calc(var(--padding-horizontal) + .75rem);
		width: calc(100% + var(--_pbs) - var(--padding-horizontal) - var(--reveal));
	}
	[data-chain],
	.standoff:not(figure):not(.figure) {
		padding-right: var(--padding-horizontal);
	}
	.-left,
	figure, .figure,
	pre {
		margin-left: calc(-1 * var(--padding-horizontal));
	}
	figure.standout figcaption {
		max-width: calc(100% - var(--_pbs) + var(--padding-horizontal) + var(--reveal));
	}
	main,
	[data-follow-up] {
		margin-right: calc(-1 * var(--padding-horizontal));
	}
	footer.metadata {
		margin-right: calc(-1 * var(--_pbs) + var(--padding-horizontal));
	}
	.nav-menu summary {
		width: calc(var(--width-sidebar) - 2.25rem);
	}
	.imprint p {
		grid-template-columns: 1fr 1fr calc(var(--width-sidebar) - 2.25rem);
		gap: .75rem calc(2 * var(--padding-horizontal));
	}
}
@media (max-width: 19.99em) {
	html {
		font-size: 5vw;
	}
}
@media (min-width: 75em) {
	html {
		font-size: 1.125rem;
	}
	.nav-menu {
		--size-nav-stripe: 6px;
	}
}
@media (min-width: 85em) {
	html {
		--o: calc(50% - 33.25rem);
	}
}
@media (forced-colors: active) {
	hr,
	footer.metadata p:last-child::after {
		border-color: CanvasText;
		opacity: .3;
	}
	header img,
	.posts li img,
	i::before,
	[data-chain]::before,
	[data-hl]:empty::after,
	.imprint > p > a::after,
	[data-hl="Home"] svg {
		forced-color-adjust: none;
	}
	i::before {
		color: inherit;
	}
}

main > div > header p:last-child > :is(i, time),
html:where(.c-default, .c-about):not(.🥚) header p:last-child > :is(i, time),
.metadata address,
[aria-labelledby="updates"] > hr,
[aria-labelledby="fns"] > hr,
header br,
.posts li br {
	display: none;
}
.visually-hidden {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0,0,0,0);
	border: 0;
	white-space: nowrap;
}
