* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	overflow-wrap: anywhere;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--color-text: #000;
	--color-bg: #fff;
	--color-bg-o: #f7f7d4;
	--color-accent: #d34b6c;
	--color-focus: #05c;
	--filter: sepia(1);

	background-color: var(--color-bg);
	color: var(--color-text);
	font: 100%/1.5 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Noto Sans", "DejaVu Sans", sans-serif;
	overflow: hidden scroll;

	@media (width < 22.5em) {
		font-size: calc(100% / 1.125);
	}
	@media (width >= 75em) {
		font-size: calc(100% * 21 / 18);
	}
}
@media (prefers-color-scheme: dark) {
	html:where(:has(meta[name="color-scheme"][content$="dark"])) {
		--color-text: #fff;
		--color-bg: #080809;
		--color-bg-o: #202225;
		--color-focus: orange;
		--filter: grayscale(1);
	}
}
html:where(:has(meta[name="color-scheme"][content="dark"])) {
	--color-text: #fff;
	--color-bg: #080809;
	--color-bg-o: #202225;
	--color-focus: orange;
	--filter: grayscale(1);
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	--p: 1.25rem;
	---p: calc(-1 * var(--p));
	--r0: .5rem;
	--r: 0rem;
	font-size: 1.125rem;
	line-height: calc(1.5 / 1.125);
}
main {
	padding-block: 0 1.75rlh;
	padding-inline: var(--p);
}
b,
kbd,
samp,
button,
input,
textarea,
select {
	font: inherit;
}
img {
	display: block;
	margin: -.75rlh var(---p);

	&:where(:not([style*="--frame"])) {
		inline-size: calc(100% + 2 * var(--p));
	}
	&:where([style*="--frame"]) {
		--_c: var(--frame, var(--color-bg-o));
		--_q: 0//1;
		max-inline-size: calc(100% + 2 * var(--p));
		border: 0 solid var(--c, var(--color-bg-o));
		border-block-width: .75rlh;
		border-inline-width: var(--p);
		border-image: linear-gradient(var(--_c), var(--_c)) fill var(--_q) 100vw;
	}
	&:where([style*="--frame: "]:not(:only-child)) {
		border-block-end-width: 0; /* TODO reconsider? */
	}
	&:where(:not(:last-child)) {
		margin-block-end: 0;
	}
}
code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
small,
sup,
code,
blockquote footer,
figcaption,
a[href$=".pdf"]::after {
	font-size: calc(1em / 1.2);
}
header p:last-child,
.posts li p:last-child,
#comments,
#comments ~ article h3,
[data-unavailable],
.metadata,
.standoff,
img,
img + small,
p > small:only-child,
#navigation p {
	font-size: .9375rem;
}
h2, .h2,
h3,
p,
ul,
ol,
dl,
li,
blockquote,
form,
figure, .figure,
figcaption,
details,
pre,
.standoff,
#comments ~ :is(article, section) {
	margin-block-start: var(--m, .875rlh);
}
#showcase + p,
#updates + :is(p, ol),
#fns + ol,
li {
	--m: .4375rlh;
}
.standoff *,
figcaption {
	--m: .375rlh;
}
#comments + [hidden] + p,
#comments + p,
#contribute + p,
[data-chain] {
	--m: .125rem;
}
:where(h2, .h2, h3, p, blockquote):first-child,
.metadata p {
	--m: 0;
}
.standoff:has(+ h2) {
	--m: 2.1875rem;
}
.standoff:has(+ section) {
	--m: 2.8125rem;
}
.posts > p:last-child {
	--m: 3.5rlh;
}
section h2,
#showcase,
#comments ~ :is(article, section) {
	margin-block-start: 2.625rlh;
}
/*#comments ~ article:not([hidden]) ~ article {
	h3 {
		--m: 3.5rlh;
	}
	&::before {
		content: "";
		position: absolute;
		inline-size: calc(2 * var(--p));
		margin-block-start: -1.75rlh;
		margin-inline-start: var(---p);
		border-block-end: 1px dotted;
	}
}*/
[data-chain] small {
	font-size: .75rem !important;
}
[data-chain] small::before {
	content: "↲ " / "";
	margin-inline-start: -.125rem;
	white-space: pre;
}
[data-chain="continue"] small::before {
	content: "↳ " / "";
}
.posts h2 {
	margin-block-start: 3.5rlh;
}
header {
	display: grid;
	position: relative;
	block-size: 18rem;
	margin-block-end: 2.625rlh;
	align-content: end;
}
h1,
h1 + p:not(:last-child) {
	max-inline-size: 37rem;
	padding-inline-end: var(--p);
}
h1 + p:not(:last-child) {
	margin-block-start: .25rem;
}
header p:last-child {
	margin-block-start: .875rlh;
}
:is(header, .posts) i::before {
	content: "";
	display: inline-block;
	aspect-ratio: 1;
	block-size: .625rem;
	margin-inline-end: .5rem;
	background-color: var(--color-accent);
	border: .25rem solid transparent;
	border-radius: 50%;
}
:is(header, .posts) time::before {
	content: "—";
	margin-inline: .375rem;
}
header img {
	--dir: bottom;
	position: absolute;
	inset-block-start: 0;
	z-index: -1;
	block-size: 16.25rem;
	max-inline-size: none;
	margin-block: 0;
	margin-inline-end: var(---p);
	border-end-end-radius: var(--r);
	filter: var(--filter);
	mask: linear-gradient(to var(--dir), #0008, transparent);
	mask: linear-gradient(to var(--dir) in oklch, #0008, transparent);
	object-fit: cover;

	&[src="/404/index.png"] {
		@media (prefers-color-scheme: dark) {
			html:where(:has(meta[name="color-scheme"][content$="dark"])) & {
				--filter: invert(1) grayscale(1);
			}
		}
		html:where(:has(meta[name="color-scheme"][content="dark"])) & {
			--filter: invert(1) grayscale(1);
		}
	}
	@media (width > 27.5em) {
		--dir: left;
		inset-inline-end: 0;
		inline-size: auto;
	}
	@media (forced-colors: active) {
		inset-block-start: -21rem;
	}
}
.posts :is(ol, ul) {
	list-style-type: "";

	li {
		display: flex;
		flex-direction: column;
		margin-block-start: 1.75rlh;
		margin-inline-start: 0;

		h3 {
			--m: .4375rlh;
		}
		p:last-child {
			--m: 0;
			order: -1;
		}
	}
}
h1 {
	margin-inline-start: -.0625rem;
	font-size: 2rem;
	line-height: 1.125;

	@media (width > 27.5em) {
		font-size: 2.5rem;
	}
}
h2, .h2 {
	--m: 2rlh;
	font-size: 1.25rem;
	line-height: 1.4;
}
h1,
h1 + p:not(:last-child),
h2, .h2,
h3,
b,
strong {
	font-weight: 700;
}
[data-unavailable],
img,
samp,
em {
	font-style: italic;
}
[id] {
	scroll-margin-block-start: .75rem;
}
a {
	color: inherit;
	text-decoration: .0625rem solid underline var(--color-accent);
	text-underline-offset: .1875rem;
	word-break: break-word;
}
a[href$=".pdf"]::after {
	content: " [PDF]";
}
a:hover {
	text-decoration-style: double;
}
*:focus-visible {
	outline: .125rem solid var(--color-focus);
	outline-offset: -.0625rem;
}
:is(a, button, select, summary):focus-visible {
	outline: .1875rem solid var(--color-focus);
	outline-offset: .0625rem;
}
summary {
	inline-size: fit-content;
}
/*li:has(> details:only-child) {
	list-style-type: "";
}
li:has(> details:only-child) summary {
	list-style-position: outside;
}*/
abbr[title] {
	text-decoration: none;
}
sup {
	position: relative;
	inset-block-start: -.5em;
	line-height: 0;
	vertical-align: baseline;
}
ins {
	text-decoration-style: dotted;
}
img + small,
p > small:only-child {
	display: block;
}
h1,
h1 + p:not(:last-child),
h2, .h2,
h3 {
	text-wrap: balance;
}
p {
	text-wrap: pretty;
}
time {
	white-space: nowrap;
}
kbd:not(:has(kbd)) {
	padding-inline: .25rem;
	border: .0625rem solid;
	border-block-end-width: .125rem;
	border-radius: .25rem;
}
hr {
	max-inline-size: 50%;
	margin: 1.75rlh auto;
	border: none;
	border-block-start: .1875rem dotted var(--color-text);
}
:disabled {
	cursor: not-allowed;
}
button,
select {
	padding-block: .25rem;
	padding-inline: .5rem;
	background-color: var(--color-bg);
	border: .0625rem solid #888;
	border-radius: .25rem;
	color: inherit;
}
button {
	border-width: .125rem;
}
form label:has(+ :disabled),
form :disabled {
	color: currentColor;
	opacity: .5;
}
dd,
li {
	margin-inline-start: var(--p);
	padding-inline-start: 0;
}
blockquote {
	margin-inline-start: .0625rem;
	padding-inline-start: calc(var(--p) - .25rem);
	border-inline-start: .1875rem solid var(--color-accent);

	:is(p, li) {
		font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	}
	:is(pre, p:has(img)) {
		margin-inline-start: 0 !important;
		border-start-start-radius: var(--r0);
		border-end-start-radius: var(--r0);
	}
}
.standoff blockquote {
	padding-inline-start: calc(min(var(--p), 1.25rem) - .25rem);
}
.update,
:not(pre) > code {
	background-color: var(--color-bg-o);
	outline: .0625rem solid var(--color-bg-o);
}
:not(pre) > code {
	text-decoration: inherit;
}
.standoff,
p:has(img):not(:has(i)),
form,
figure, .figure,
pre {
	margin-inline: calc(var(---p) - 1px);
	padding-block: .75rlh;
	padding-inline: var(--p);
	background-color: var(--color-bg-o);
	border-radius: var(--r);
	border: 1px solid var(--color-bg-o);
	overflow: hidden;
	clear: both;
}
.standoff {
	inline-size: min(calc(100% - var(--p)), 37.25rem);
	margin-block-end: .875rlh;
	margin-inline-start: auto;
	border-start-start-radius: var(--r0);
	border-end-start-radius: var(--r0);

	&:not(.-large) {
		float: inline-end;
		inline-size: min(12rem + 2 * var(--p), calc(50% + var(--p)));
		margin-inline-start: var(--p);

		&:first-child {
			margin-block-start: -.9375rem;
		}
	}
}
figure code, .figure code {
	background-color: var(--color-bg);
	outline-color: var(--color-bg);
}
pre {
	overflow: auto hidden;
	hyphens: none;
	tab-size: 2;
}
pre code {
	display: block;
}
.subtle,
.posts h2,
.metadata h2,
.standoff h2,
#showcase,
#updates,
#fns,
#comments,
#contribute {
	font-size: .9375rem;
	font-weight: 700;
	letter-spacing: .0625rem;
	text-transform: uppercase;
}
#showcase + p {
	padding-left: var(--p);
	text-indent: var(---p);
}
#showcase + p::before {
	content: "</>" / "";
	display: inline-block;
	inline-size: var(--p);
	letter-spacing: -.1em;
	text-indent: 0;

	@media (width < 48em) {
		font-size: .75rem;
		transform: translateY(-.0625rem);
	}
}
/*::marker,
#showcase + p::before {
	color: var(--color-accent);
} */
aside[aria-labelledby="comments"]::before,
.metadata::before {
	content: "";
	display: block;
	margin-block: 1.75rlh;
	margin-inline: var(---p);
	border-block-end: 1px dotted;
	clear: both;
}
#navigation {
	padding-block: 1.75rlh;
	background-color: var(--color-bg-o);
	border-block-start: 1px dotted transparent;

	nav,
	> p {
		padding-inline: var(--p);
	}
}
#navigation nav p {
	display: grid;
	gap: calc(1rlh - .25rem - 2px) var(--p);

	@media (width >= 37.5em) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (27.5em < width < 37.5em) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;

		&:before {
			content: "❁" / "";
			place-self: center;
			font-size: 200%;
			line-height: 0;
		}
		&:before,
		a:nth-child(4) ~ a {
			order: 1;
		}
	}
	@media (15em <= width <= 27.5em) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-auto-flow: column;
	}
}
#navigation nav a {
	padding-block: .5rem;
	padding-inline: .5rem .75rem;
	background-color: var(--color-bg);
	border-block-end: 1px solid;
	border-inline-start: 3px solid var(--color-accent);
	border-radius: .625rem;
	letter-spacing: .03125rem;
	text-align: end;
	text-decoration-line: none;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover {
		text-decoration-line: underline;
		text-decoration-style: solid;
	}

	[hidden]:first-child {
		display: block;
		margin-block-start: .1875rem;
		float: inline-start;
		font-size: .75rem;
		opacity: .75;
	}
}
#navigation > p {
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	gap: .5rlh 1em;
	place-items: start;
	margin-block-start: 1.75rlh;

	> span + span {
		display: flex;
		flex-wrap: wrap;
		gap: inherit;
	}
	a {
		white-space: nowrap;
	}
	a[href="/rss/"] { --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M2.13 11.73a2.13 2.13 0 1 0 0 4.25 2.13 2.13 0 1 0 0-4.25zM0 5.43V8.5c2 0 3.88.78 5.29 2.2a7.45 7.45 0 0 1 2.2 5.3h3.07C10.56 10.18 5.82 5.44 0 5.44zM0 0v3.07c7.13 0 12.92 5.8 12.92 12.93H16C16 7.18 8.82 0 0 0z'/%3E%3C/svg%3E") }
	a[href="/settings/"] { --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 7h.25c.412 0 .75-.338.75-.75v-2.5a.752.752 0 00-.75-.75H14V0h-2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.338.75.75.75H12v9h2V7zm-2-3h2v2h-2V4zm-2.75 9c.412 0 .75-.338.75-.75v-2.5A.753.753 0 009.25 9H9V0H7v9h-.25a.753.753 0 00-.75.75v2.5c0 .412.338.75.75.75H7v3h2v-3h.25zM7 10h2v2H7v-2zM4.25 7c.412 0 .75-.338.75-.75v-2.5A.752.752 0 004.25 3H4V0H2v3h-.25a.752.752 0 00-.75.75v2.5c0 .412.337.75.75.75H2v9h2V7h.25zM2 4h2v2H2V4z'/%3E%3C/svg%3E") }
	a[href="#top"] { --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 8a8 8 0 1016 0A8 8 0 000 8zm14.5 0a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z'/%3E%3Cpath d='M11.043 10.457l1.414-1.414L8 4.586 3.543 9.043l1.414 1.414L8 7.414z'/%3E%3C/svg%3E") }
	a[href="/settings/"],
	a[href="/rss/"],
	a[href="#top"] {
		justify-self: end;
		padding-inline-end: 1.5rem;

		&::after {
			content: "";
			position: absolute;
			aspect-ratio: 1;
			block-size: 1em;
			margin-block-start: .25em;
			margin-inline-start: .5em;
			background-color: currentColor;
			mask: var(--icon) center / contain no-repeat;
			forced-color-adjust: none;
		}
	}
	a[href="#navigation"] {
		order: 1;
		visibility: hidden;
	}
	@media (width < 30em) {
		grid-template-columns: 1fr 1fr;
		grid-template-row: repeat(4, 1fr);

		> span + span {
			display: contents;
		}
		a[href="#navigation"],
		> span:first-child {
			grid-column: 1 / -1;
			grid-row: 4 / 5;
			justify-self: center;
			margin-block-start: 1.25rlh;
		}
	}
}
[data-hl] {
	--ap: var(--p);
}
[data-hl="Home"],
[data-hl="Menu"] {
	display: block;
	position: absolute;
	inset-block-start: .875rlh;
	block-size: 2rem;
	inline-size: 2rem;
	padding-block-start: .3125rem;
	background-color: #000;
	border-radius: 50%;
	color: var(--color-text);
	white-space: nowrap;

	@media (forced-colors: active) {
		color: CanvasText;
		text-decoration-color: currentColor !important;
		forced-color-adjust: none;
	}
}
[data-hl="Home"] {
	inset-inline-start: var(--ap);
	text-transform: none;

	svg {
		overflow: visible;
		display: block;
		position: absolute;
		block-size: 1.75rem;
		inline-size: 1.75rem;
		inset-block-start: .125rem;
		inset-inline-start: .125rem;
	}
	path:last-child {
		fill: var(--color-accent);
	}
	&::before {
		content: "css";
		margin-inline-start: 2.3125rem;
		font-weight: 700;
	}
	&::after {
		content: "ence.com";
	}
	&:hover {
		text-decoration: 1px underline var(--color-accent);
	}
}
[data-hl="Menu"] {
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M7 2h9v2H0V2zm0 5h9v2H0V7zm0 5h9v2H0v-2zm0'/%3E%3C/svg%3E");
	inset-inline-end: var(--ap);
	overflow: hidden;
	visibility: visible;

	&::before {
		content: "";
	}
	&::after {
		content: "";
		position: absolute;
		aspect-ratio: 1;
		block-size: 1em;
		inset-block-start: 50%;
		inset-inline-end: 50%;
		margin-block-start: -.5em;
		margin-inline-end: -.5em;
		background-color: #fff;
		mask: var(--icon) center / 1em no-repeat;
	}
}

@media (width < 20em) {
	body {
		--p: .375rem;
	}
	h1 {
		font-size: calc(22rem / (16 / 1.125));
	}
}
@media (width >= 48em) {
	body {
		--p: 1.75rem;
		--r: var(--r0);
	}
	main {
		inline-size: calc(48rem - 2 * var(--p));
		margin-inline: auto;
	}
	pre {
		tab-size: 4;
	}
	#navigation {
		nav,
		> p {
			inline-size: 48rem;
			margin-inline: auto;
		}
	}
	[data-hl] {
		--ap: calc(50% - 22.25rem + var(--p));
	}
}
@media (width >= 64em) {
	html {
		--_s: 50px;
		--_g: #0000 90deg,var(--color-bg-o) 0;
		background: conic-gradient(from 90deg at 2px 2px,var(--_g)), conic-gradient(from 90deg at 1px 1px,var(--_g)), var(--color-bg);
		background-attachment: fixed;
		background-size: var(--_s) var(--_s), calc(var(--_s)/5) calc(var(--_s)/5);
	}
	body {
		position: relative;
		z-index: 0;
		max-inline-size: 58rem;
		margin-inline: auto;
		background: var(--color-bg);
		border-inline: 1px solid var(--color-bg-o);
	}
	[data-hl] {
		--ap: calc(50% - 31.6875rem + var(--p))
	}
}

main > div > header p:last-child time,
html:where(.c-default, .c-about):not(.🥚) header p:last-child time,
.metadata address,
.metadata address ~ p:last-child,
[aria-labelledby="updates"] > hr,
[aria-labelledby="fns"] > hr,
.posts img, /* TODO remove/restyle */
header br,
.posts li br {
	display: none;
}
.visually-hidden {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0,0,0,0);
	border: 0;
	white-space: nowrap;
}
