/*
 * a11y theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */
pre {
	--prism-a11y-color-background: hsla(0, 0%, 100%, 1);
	--prism-a11y-color-text-no-token: hsla(0, 0%, 33%, 1);
	--prism-a11y-color-text-comment: hsla(16, 100%, 25%, 1);
	--prism-a11y-color-text-blue: hsla(195, 100%, 30%, 1);
	--prism-a11y-color-text-green: hsla(120, 100%, 25%, 1);
	--prism-a11y-color-text-gray: hsla(0, 0%, 41%, 1);
	--prism-a11y-color-text-purple: hsla(282, 100%, 41%, 1);
	--prism-a11y-color-text-red: hsla(2, 80%, 47%, 1);
	--prism-a11y-color-text-yellow: hsla(43, 74%, 30%, 1);
	color: var(--prism-a11y-color-text-no-token);
}
@media (prefers-color-scheme: dark) {
	:where(html:has(meta[name="color-scheme"][content$="dark"])) pre {
		--prism-a11y-color-background: hsla(0, 0%, 17%, 1);
		--prism-a11y-color-text-no-token: hsla(60, 30%, 96%, 1);
		--prism-a11y-color-text-comment: hsla(54, 32%, 75%, 1);
		--prism-a11y-color-text-blue: hsla(180, 100%, 44%, 1);
		--prism-a11y-color-text-green: hsla(80, 75%, 55%, 1);
		--prism-a11y-color-text-gray: hsla(60, 30%, 96%, 1);
		--prism-a11y-color-text-purple: hsla(291, 30%, 83%, 1);
		--prism-a11y-color-text-red: hsla(17, 100%, 74%, 1);
		--prism-a11y-color-text-yellow: hsla(51, 100%, 50%, 1);
	}
}
:where(html:has(meta[name="color-scheme"][content="dark"])) pre {
	--prism-a11y-color-background: hsla(0, 0%, 17%, 1);
	--prism-a11y-color-text-no-token: hsla(60, 30%, 96%, 1);
	--prism-a11y-color-text-comment: hsla(54, 32%, 75%, 1);
	--prism-a11y-color-text-blue: hsla(180, 100%, 44%, 1);
	--prism-a11y-color-text-green: hsla(80, 75%, 55%, 1);
	--prism-a11y-color-text-gray: hsla(60, 30%, 96%, 1);
	--prism-a11y-color-text-purple: hsla(291, 30%, 83%, 1);
	--prism-a11y-color-text-red: hsla(17, 100%, 74%, 1);
	--prism-a11y-color-text-yellow: hsla(51, 100%, 50%, 1);
}
:where(.token.comment, .token.prolog, .token.doctype, .token.cdata) {
	color: var(--prism-a11y-color-text-comment);
}
:where(.token.punctuation) {
	color: var(--prism-a11y-color-text-gray);
}
:where(.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted) {
	color: var(--prism-a11y-color-text-red);
}
:where(.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.keyword) {
	color: var(--prism-a11y-color-text-blue);
}
:where(.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted) {
	color: var(--prism-a11y-color-text-green);
}
:where(.token.atrule, .token.attr-value, .token.function, .token.regex, .token.important) {
	color: var(--prism-a11y-color-text-yellow);
}
:where(.token.boolean, .token.number, .token.keyword) {
	color: var(--prism-a11y-color-text-purple);
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
@media (forced-colors: active) {
	pre {
		--prism-a11y-color-background: Canvas;
		--prism-a11y-color-text-no-token: CanvasText;
		--prism-a11y-color-text-comment: GrayText;
		--prism-a11y-color-text-blue: LinkText;
		--prism-a11y-color-text-gray: LinkText;
		--prism-a11y-color-text-green: CanvasText;
		--prism-a11y-color-text-purple: CanvasText;
		--prism-a11y-color-text-red: CanvasText;
		--prism-a11y-color-text-yellow: GrayText;
	}
	.token.keyword {
		font-weight: bold;
	}
}
