header + div section {
	--m: .875rlh;
	margin-inline: var(---p);
	padding-block: .75rlh;
	padding-inline: calc(var(--p) - var(--bs)) calc(var(--p) - var(--be));
	background-color: var(--color-bg-o);
	border-radius: var(--_r);
	border: 1px solid var(--color-bg-o);
	border-inline-width: var(--bs) var(--be);
	overflow: hidden;

	@media (width < 48em) {
		&:not(:last-child) {
			--bs: 0px;
			margin-inline-end: var(--p);
			border-start-end-radius: var(--r);
			border-end-end-radius: var(--r);
		}
		&:last-child {
			--be: 0px;
			margin-block-start: .875rlh;
			margin-inline-start: var(--p);
			border-start-start-radius: var(--r);
			border-end-start-radius: var(--r);
		}
	}
}
@media (width >= 48em) {
	header + div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: calc(3 * var(--p));
	}
}
.posts > div {
	display: flex;
	align-items: baseline;
}
.posts > div .subtle {
	margin-inline-start: 1em;
	padding-inline-start: 1em;
	border-inline-start: .0625rem solid;
	font-weight: 400;
}
h1 {
	order: -1;
	margin-inline-start: 0;
	font-size: inherit;
}
h1 + p:not(:last-child) {
	order: -2;
	margin-inline-start: -.0625rem;
	font-size: 2rem;
	line-height: 1.125;

	@media (width > 27.5em) {
		font-size: 2.5rem;
	}
	@media (width < 22.5em) {
		font-size: calc(22rem / (16 / 1.125));
	}

	abbr {
		color: var(--color-accent);
	}
}
@keyframes point {
	0%, 70%, 100% { opacity: 0 }
	74%, 96% { opacity: .7 }
	0%, 82%, 85%, 88%, 100% { transform: translate(0) }
	84.5%, 86.5% { transform: translate(.5rem, .5rem) }
}
header p:last-child i::after {
	content: "\a0\a0\a0\a0↖\0aYou are here!" / "";
	position: absolute;
	margin-block-start: 1.25rem;
	margin-inline-start: -1.5rem;
	font-size: .75rem;
	line-height: 1.1;
	white-space: pre;
	opacity: 0;
	animation: 10s linear infinite point;
}
