header + div section {
	--m: .875rlh;
	margin-inline: calc(var(---p) - 1px);
	padding-block: .75rlh;
	padding-inline: var(--p);
	background-color: var(--color-bg-o);
	border-radius: var(--r);
	border: 1px solid var(--colo-bg-o);
	overflow: hidden;

	@media (width < 48em) {
		&:not(:last-child) {
			margin-inline-end: var(--p);
			border-start-end-radius: var(--r0);
			border-end-end-radius: var(--r0);
		}
		&:last-child {
			margin-block-start: .875rlh;
			margin-inline-start: var(--p);
			border-start-start-radius: var(--r0);
			border-end-start-radius: var(--r0);
		}
	}
}
@media (width >= 48em) {
	header + div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: calc(3 * var(--p));
	}
}
.posts > div {
	display: flex;
	align-items: baseline;
	gap: 1ex;
}
.posts > div .subtle {
	order: 1;
	letter-spacing: normal;
}
.posts > div::after {
	content: "|";
}
